body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.converter-container {
    background-color: #fffccc; /* Cream color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; /* Set the width as a percentage of the viewport width */
    max-width: 400px; /* Limit the maximum width of the container */
    margin: 20px; /* Add margin for spacing */
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
